<section class="fl-main-section">
    <div class="fl-main">
        <!-- Header -->
        <div class="fl-header">
            <div class="fl-main-logo">
            <img
                src="/assets/Desktop-One-Images/thomsonreuters_logo.png"
                width="262"
                height="auto"
            />
            </div>
            <div class="fl-employee-profile">
            <div><i class="bi bi-caret-down-fill"></i></div>
            <div class="fl-employee">
                <div class="fl-employee-image"></div>
            </div>
            </div>
            <div class="fl-employee-detail">
            <span class="fl-employee-name">{{appUserName}}</span>
            <span class="fl-employee-id">123456</span>
            </div>
            <div class="fl-view-goals">
            <button class="fl-view-goals-btn">View Goals</button>
            </div>
            <div class="fl-notification">
            <span class="badge"></span>
            </div>
        </div>
      <!-- Sidebar Nav -->
      <div class="fl-sidebar-nav">
        <div class="fl-active-nav"></div>
        <div class="fl-nav-profile">
          <div class="fl-nav-profile-img"></div>
        </div>
        <div class="fl-nav-calender">
          <div class="fl-nav-calender-img"></div>
        </div>
        <div class="fl-nav-setting">
          <div class="fl-nav-setting-img"></div>
        </div>
      </div>
      <!-- Mobile Header -->
      <div class="fl-mobile-header-main">
        <div class="fl-mobile-header">
          <div class="fl-mob-logo-main">
            <div class="fl-mob-logo">
              <img
                src="/assets/Desktop-One-Images/thomsonreuters_logo.png"
                width="262"
                height="auto"
              />
            </div>
            <div class="fl-mob-emp-detail">
              <span class="fl-employee-name">{{appUserName}}</span>
              <span class="fl-employee-id">123456</span>
            </div>
          </div>
          <div>
            <div class="fl-mob-nav">
              <div class="fl-mob-settings-bar">
                <img
                  src="/assets/Desktop-One-Images/profile.png"
                  width="32"
                  height="auto"
                />
                <img
                  src="/assets/Desktop-One-Images/calendar.png"
                  width="32"
                  height="auto"
                />
                <img
                  src="/assets/Desktop-One-Images/setting_1.png"
                  width="32"
                  height="auto"
                />
              </div>
              <div class="fl-mob-emplyee-details">
                <div class="fl-mob-notification">
                  <img
                    src="/assets/Desktop-One-Images/notification.png"
                    width="18"
                    height="auto"
                  />
                </div>
                <div class="fl-view-goals-mob">
                  <button class="fl-view-goals-mob-btn">View Goals</button>
                </div>
                <div class="fl-mob-employee-profile">
                  <img
                    src="/assets/Desktop-One-Images/profile_two.png"
                    width="18"
                    height="auto"
                  />
                </div>
                <div class="fl-mob-down-fill">
                  <i class="bi bi-caret-down-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Body -->
      <div class="fl-body">
        <div class="fl-main-body">
          <!-- Employee Details -->
          <div class="fl-details">
            <!-- Engagements Details -->
            <div class="fl-engage-details">
              <div class="fl-engage-details-title">
                <h2>Engagements:</h2>
              </div>
              <div class="fl-engage-details-col">
                <div class="fl-engage-details-col-1">
                  <div class="fl-engage-details-col-1-1">
                    <ul>
                      <div class="fl-engage-details-blurb">
                        <div class="fl-engage-details-blurb-img">
                          <span>
                            <img
                              src="/assets/Desktop-One-Images/skip.png"
                              height="63px"
                              width="63px"
                            />
                          </span>
                        </div>
                        <div class="fl-engage-details-blurb-btn">
                          <li>
                            <span>Skip</span>
                          </li>
                          <li>
                            <button (click)="ToggleFunction(collapseToggl, 1)">
                              Set/Add Meeting
                            </button>
                          </li>
                        </div>
                      </div>
                      <div class="fl-engage-details-blurb">
                        <div class="fl-engage-details-blurb-img">
                          <span>
                            <img
                              src="/assets/Desktop-One-Images/nmap.png"
                              height="63px"
                              width="63px"
                            />
                          </span>
                        </div>
                        <div class="fl-engage-details-blurb-btn">
                          <li>
                            <span>NMAP</span>
                          </li>
                          <li>
                            <button (click)="ToggleFunction(collapseToggl, 4)">
                              Set/Add Meeting
                            </button>
                          </li>
                        </div>
                      </div>
                    </ul>
                  </div>
                  <div class="fl-engage-details-col-1-2">
                    <ul>
                      <div class="fl-engage-details-blurb">
                        <div class="fl-engage-details-blurb-img">
                          <span>
                            <img
                              src="/assets/Desktop-One-Images/toptalent.png"
                              height="63px"
                              width="63px"
                            />
                          </span>
                        </div>
                        <div class="fl-engage-details-blurb-btn">
                          <li>
                            <span>New Hire Connects</span>
                          </li>
                          <li>
                            <button (click)="ToggleFunction(collapseToggl, 2)">
                              Set/Add Meeting
                            </button>
                          </li>
                        </div>
                      </div>
                      <div class="fl-engage-details-blurb">
                        <div class="fl-engage-details-blurb-img">
                          <span>
                            <img
                              src="/assets/Desktop-One-Images/policyrefresher.png"
                              height="63px"
                              width="63px"
                            />
                          </span>
                        </div>
                        <div class="fl-engage-details-blurb-btn">
                          <li>
                            <span>Open House Sessions</span>
                          </li>
                          <li>
                            <button (click)="ToggleFunction(collapseToggl, 3)">
                              Set/Add Meeting
                            </button>
                          </li>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
                <div class="fl-engage-details-col-2">
                  <div class="fl-engage-details-col-2-wrap">
                    <div>
                      <h2>Engagement Overview:</h2>
                    </div>
                    <!-- <div class="fl-engage-details-col-2-connect">
                      <div class="fl-engage-details-col-2-connect-wrap">
                        <h3>{{ totalConnCoun }}</h3>
                        <span>Connects</span>
                      </div>
                    </div> -->
                    <circle-progress
                    class="fl-progress-circle"
                    [percent]="85"
                    [radius]="100"
                    [showSubtitle]="true"
                    [title]="strCount"
                    [titleFontSize]="'42'"
                    [subtitleFontSize]="'18'"
                    [titleFontWeight]="'900'"
                    [subtitleFontWeight]="'500'"
                    [titleColor]="'#878787'"
                    [subtitleColor]="'#878787'"
                  ></circle-progress>
                    <div>
                      <button (click)="engagementTable(statisticsTable)">
                        View Details
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Modal -->
          <div
            class="modal"
            [ngClass]="{ 'fade showSum': collapseToggl }"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div>
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">
                      Set / Add Meeting
                      <span><i class="bi bi-question-circle"></i></span>
                    </h2>
                    <button
                      type="button"
                      class="btn-close"
                      aria-label="Close"
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                      (click)="closeSum()"
                    >
                      <i class="bi bi-x"></i>
                    </button>
                  </div>
                  <div class="fl-form-sub-heading">
                    Set Up Meetings with connections
                  </div>
                  <div *ngIf="formShowHide">
                      <form
                        class="fl-modal-form"
                        [formGroup]="skipForm"
                        (ngSubmit)="setMeeting(skipForm, engTypeSelect)"
                        *ngIf="engTypeSelect == 1 || engTypeSelect == 4"
                      >
                        <div class="form-group">
                            <div class="fl-form-connection">
                                <div class="form-group col-md-6 fl-form-connection-type">
                                    <label for="inputAddress2">Manager Id</label>
                                    <div>
                                        <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Manager Id"
                                        formControlName="managerId"
                                        />
                                    </div>
                                    <div class="alert alert-danger" *ngIf="takeControl['managerId'].touched && takeControl['managerId'].invalid">
                                      <div *ngIf="takeControl['managerId'].errors['required']">
                                        Please enter the manager Id.
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress2">Manager Name</label>
                                    <div>
                                        <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Manager Name"
                                        formControlName="ManagerName"
                                        
                                        />
                                    </div>
                                    <div class="alert alert-danger" *ngIf="takeControl['ManagerName'].touched && takeControl['ManagerName'].invalid">
                                      <div *ngIf="takeControl['ManagerName'].errors['required']">
                                        Please enter the manager Name.
                                      </div>
                                    </div>
                                </div>
                              </div>
                          <!-- <div>
                            <label>Connection's Employee Id</label>
                            <input
                              type="email"
                              class="form-control"
                              id="input2"
                              placeholder="Employee Id"
                              formControlName="empid"
                            />
                          </div> -->
                          <div class="fl-form-connection">
                            <div class="form-group col-md-6 fl-form-connection-type">
                              <div><label>Select Connections Type</label></div>
                              <div class="select">
                                <select
                                  name="format"
                                  id="format"
                                  formControlName="engageType" [attr.disabled] = "true"
                                >
                                  <option
                                    class="fl-form-option"
                                    *ngFor="let engage of engagementType"
                                    value="{{ engage.option }}"
                                  >
                                    {{ engage.label }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group col-md-6 fl-form-date">
                              <label>Select Date</label>
                              <input
                                type="date"
                                class="form-control"
                                id="input4"
                                formControlName="meetData"
                              />
                              <div class="alert alert-danger" *ngIf="takeControl['meetData'].touched && takeControl['meetData'].invalid">
                                <div *ngIf="takeControl['meetData'].errors['required']">
                                  Please select the date.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="fl-form-connection">
                            <div class="form-group col-md-6 fl-form-connection-type">
                                <label for="inputAddress2">BU</label>
                                <div>
                                    <input
                                    type="text"
                                    class="form-control"
                                    placeholder="BU"
                                    formControlName="bu"
                                    
                                    />
                                </div>
                                <div class="alert alert-danger" *ngIf="takeControl['bu'].touched && takeControl['bu'].invalid">
                                  <div *ngIf="takeControl['bu'].errors['required']">
                                    Please enter the bu.
                                  </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2"
                              >No of participants Invited</label
                            >
                            <div>
                                <input
                                type="number"
                                class="form-control"
                                id="input1"
                                placeholder="No of participants Invited"
                                formControlName="Participants"
                              />
                            </div>
                            <div class="alert alert-danger" *ngIf="takeControl['Participants'].touched && takeControl['Participants'].invalid">
                              <div *ngIf="takeControl['Participants'].errors['required']">
                                Please enter the No of participants Invited.
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Skippy Supervisor Name</label>
                                <div>
                                    <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Skippy Supervisor Name"
                                    formControlName="SkippySupervisorName"
                                    />
                                </div>
                                <div class="alert alert-danger" *ngIf="takeControl['SkippySupervisorName'].touched && takeControl['SkippySupervisorName'].invalid">
                                  <div *ngIf="takeControl['SkippySupervisorName'].errors['required']">
                                    Please enter the Skippy Supervisor Name.
                                  </div>
                                </div>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2"
                              >Feedback</label
                            >
                            <div>
                                <input
                                type="text"
                                class="form-control"
                                id="input1"
                                placeholder="Feedback"
                                formControlName="Feedback"
                              />
                            </div>
                          </div>
                          <div class="fl-modal-form-btn">
                            <button class="btn btn-primary set-meet" [disabled]="skipForm.invalid" >
                              Set Meeting
                            </button>
                          </div>
                          <!-- <div *ngIf="nhDate != ''" style="margin-top: 20px;">
                            <p>Notes:</p>
                            <span>Meeting has been already added for <strong>{{nhDate}}</strong>. If you want to reschedule, please select the new date.</span>
                          </div> -->
                        </div>
                      </form>



                      <form
                        class="fl-modal-form"
                        [formGroup]="ohsForm"
                        (ngSubmit)="setMeeting(ohsForm, engTypeSelect)"
                        *ngIf="engTypeSelect == 3"
                      >
                        <div class="form-group">
                          <div class="form-group">
                              <label for="inputAddress2">Team name</label>
                              <div>
                                  <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Team name"
                                  formControlName="teamName"
                                  />
                              </div>
                              <div class="alert alert-danger" *ngIf="ohstakeControl['teamName'].touched && ohstakeControl['teamName'].invalid">
                                <div *ngIf="ohstakeControl['teamName'].errors['required']">
                                  Please enter the Team name.
                                </div>
                              </div>
                          </div>
                          <div class="fl-form-connection">
                            <div class="form-group col-md-6 fl-form-connection-type">
                              <div><label>Select Connections Type</label></div>
                              <div class="select">
                                <select
                                  name="format"
                                  id="format"
                                  formControlName="ohsEngageType" [attr.disabled] = "true"
                                >
                                  <option
                                    class="fl-form-option"
                                    *ngFor="let engage of engagementType"
                                    value="{{ engage.option }}"
                                  >
                                    {{ engage.label }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group col-md-6 fl-form-date">
                              <label>Select Date</label>
                              <input
                                type="date"
                                class="form-control"
                                id="input4"
                                formControlName="ohsmeetData"
                              />

                              <div class="alert alert-danger" *ngIf="ohstakeControl['ohsmeetData'].touched && ohstakeControl['ohsmeetData'].invalid">
                                <div *ngIf="ohstakeControl['ohsmeetData'].errors['required']">
                                  Please select the date.
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="fl-form-connection">
                            <div class="form-group col-md-6 fl-form-connection-type">
                                <label for="inputAddress2">BU</label>
                                <div>
                                    <input
                                    type="text"
                                    class="form-control"
                                    placeholder="BU"
                                    formControlName="ohsbu"
                                    
                                    />
                                </div>
                                <div class="alert alert-danger" *ngIf="ohstakeControl['ohsbu'].touched && ohstakeControl['ohsbu'].invalid">
                                  <div *ngIf="ohstakeControl['ohsbu'].errors['required']">
                                    Please enter the bu.
                                  </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2"
                              >No of participants Invited</label
                            >
                            <div>
                                <input
                                type="number"
                                class="form-control"
                                id="input1"
                                placeholder="No of participants Invited"
                                formControlName="ohsParticipants"
                              />
                            </div>
                            <div class="alert alert-danger" *ngIf="ohstakeControl['ohsParticipants'].touched && ohstakeControl['ohsParticipants'].invalid">
                              <div *ngIf="ohstakeControl['ohsParticipants'].errors['required']">
                                Please enter the No of participants Invited.
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2"
                              >Feedback</label
                            >
                            <div>
                                <input
                                type="text"
                                class="form-control"
                                id="input1"
                                placeholder="Feedback"
                                formControlName="ohsFeedback"
                              />
                            </div>
                          </div>
                          <div class="fl-modal-form-btn">
                            <button class="btn btn-primary set-meet" [disabled]="ohsForm.invalid" >
                              Set Meeting
                            </button>
                          </div>
                          <!-- <div *ngIf="nhDate != ''" style="margin-top: 20px;">
                            <p>Notes:</p>
                            <span>Meeting has been already added for <strong>{{nhDate}}</strong>. If you want to reschedule, please select the new date.</span>
                          </div> -->
                        </div>
                      </form>

                      <form
                        class="fl-modal-form"
                        [formGroup]="nhcForm"
                        (ngSubmit)="setMeeting(nhcForm, engTypeSelect)"
                        *ngIf="engTypeSelect == 2"
                      >
                        <div class="form-group">
                          <div class="fl-form-connection">
                            <div class="form-group col-md-6 fl-form-connection-type">
                              <div><label>Select Connections Type</label></div>
                              <div class="select">
                                <select
                                  name="format"
                                  id="format"
                                  formControlName="nhcengageType" [attr.disabled] = "true"
                                >
                                  <option
                                    class="fl-form-option"
                                    *ngFor="let engage of engagementType"
                                    value="{{ engage.option }}"
                                  >
                                    {{ engage.label }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group col-md-6 fl-form-date">
                              <label>Select Date</label>
                              <input
                                type="date"
                                class="form-control"
                                id="input4"
                                formControlName="nhcmeetData"
                              />
                              <div class="alert alert-danger" *ngIf="nhctakeControl['nhcmeetData'].touched && nhctakeControl['nhcmeetData'].invalid">
                                <div *ngIf="nhctakeControl['nhcmeetData'].errors['required']">
                                  Please select the date.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="fl-form-connection">
                            <div class="form-group col-md-6 fl-form-connection-type">
                                <label for="inputAddress2">BU</label>
                                <div>
                                    <input
                                    type="text"
                                    class="form-control"
                                    placeholder="BU"
                                    formControlName="nhcbu"
                                    
                                    />
                                </div>
                                <div class="alert alert-danger" *ngIf="nhctakeControl['nhcbu'].touched && nhctakeControl['nhcbu'].invalid">
                                  <div *ngIf="nhctakeControl['nhcbu'].errors['required']">
                                    Please enter the bu.
                                  </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2">No of participants Invited</label>
                                <div>
                                    <input
                                    type="number"
                                    class="form-control"
                                    id="input1"
                                    placeholder="No of participants Invited"
                                    formControlName="nhcParticipants"
                                  />
                                </div>
                                <div class="alert alert-danger" *ngIf="nhctakeControl['nhcParticipants'].touched && nhctakeControl['nhcParticipants'].invalid">
                                  <div *ngIf="nhctakeControl['nhcParticipants'].errors['required']">
                                    Please enter the No of participants Invited.
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2"
                              >Feedback</label
                            >
                            <div>
                                <input
                                type="text"
                                class="form-control"
                                id="input1"
                                placeholder="Feedback"
                                formControlName="nhcFeedback"
                              />
                            </div>
                          </div>
                          <div class="fl-modal-form-btn">
                            <button class="btn btn-primary set-meet" [disabled]="nhcForm.invalid" >
                              Set Meeting
                            </button>
                          </div>
                          <!-- <div *ngIf="nhDate != ''" style="margin-top: 20px;">
                            <p>Notes:</p>
                            <span>Meeting has been already added for <strong>{{nhDate}}</strong>. If you want to reschedule, please select the new date.</span>
                          </div> -->
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- <div class="fl-validation" *ngIf="authStatus">
                    <div class="fl-validation-main">
                      <h3 class="fl-validation-title">
                        New Hire Connect Confirmation
                      </h3>
                      <span>Please click on the below button to provide the confirmation.</span>
                      <div class="fl-validation-main-btn">
                        <div class="fl-validation-main-btn-1">
                          <button class="btn btn-primary fl-validation-btn" (click)="ackFn(1)">
                            Yes
                          </button>
                        </div>
                        <div class="fl-validation-main-btn-2">
                          <button class="btn btn-primary fl-validation-btn" (click)="ackFn(0)">
                            No
                          </button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div *ngIf="statusMsg" class="fl-submit-form-msg">
                    <span>{{ statusMessage }}</span>
                  </div>
              </div>
            </div>
          </div>
          <!-- Statistics Details -->
          <div class="fl-statistics" *ngIf="statisticsTable">
            <div class="fl-stat-1">
              <h2>Engagement Statistics:</h2>
              <!-- <span>Filter</span> -->
            </div>
            <div class="fl-stat-2">
              <table *ngFor="let val of grpMetrix">
                <tr>
                  <th scope="col" rowspan="2">Timeframe</th>
  
                  <th scope="col" colspan="2">Skip</th>
                  <th scope="col" colspan="2">NMAP</th>
                  <th scope="col" colspan="2">New Hire Connects</th>
                  <th scope="col" colspan="2">Open House Sessions</th>
                </tr>
                <tr>
                  <th scope="col">Target</th>
                  <th scope="col">Achieved</th>
                  <th scope="col">Target</th>
                  <th scope="col">Achieved</th>
                  <th scope="col">Target</th>
                  <th scope="col">Achieved</th>
                  <th scope="col">Target</th>
                  <th scope="col">Achieved</th>
              </tr>
                <tr>
                  <th scope="row">Quarter-1</th>
                  <td>{{ val.q1[0].skip[0].t }}</td>
                  <td>{{ val.q1[0].skip[0].a }}</td>
                  <td>{{ val.q1[0].nmap[0].t }}</td>
                  <td>{{ val.q1[0].nmap[0].a }}</td>
                  <td>{{ val.q1[0].nhc[0].t }}</td>
                  <td>{{ val.q1[0].nhc[0].a }}</td>
                  <td>{{ val.q1[0].ohs[0].t }}</td>
                  <td>{{ val.q1[0].ohs[0].a }}</td>
                </tr>
                <tr>
                  <th scope="row">Quarter-2</th>
                  <td>{{ val.q2[0].skip[0].t }}</td>
                  <td>{{ val.q2[0].skip[0].a }}</td>
                  <td>{{ val.q2[0].nmap[0].t }}</td>
                  <td>{{ val.q2[0].nmap[0].a }}</td>
                  <td>{{ val.q2[0].nhc[0].t }}</td>
                  <td>{{ val.q2[0].nhc[0].a }}</td>
                  <td>{{ val.q2[0].ohs[0].t }}</td>
                  <td>{{ val.q2[0].ohs[0].a }}</td>
                </tr>
                <tr>
                  <th scope="row">Quarter-3</th>
                  <td>{{ val.q3[0].skip[0].t }}</td>
                  <td>{{ val.q3[0].skip[0].a }}</td>
                  <td>{{ val.q3[0].nmap[0].t }}</td>
                  <td>{{ val.q3[0].nmap[0].a }}</td>
                  <td>{{ val.q3[0].nhc[0].t }}</td>
                  <td>{{ val.q3[0].nhc[0].a }}</td>
                  <td>{{ val.q3[0].ohs[0].t }}</td>
                  <td>{{ val.q3[0].ohs[0].a }}</td>
                </tr>
                <tr>
                  <th scope="row">Quarter-4</th>
                  <td>{{ val.q4[0].skip[0].t }}</td>
                  <td>{{ val.q4[0].skip[0].a }}</td>
                  <td>{{ val.q4[0].nmap[0].t }}</td>
                  <td>{{ val.q4[0].nmap[0].a }}</td>
                  <td>{{ val.q4[0].nhc[0].t }}</td>
                  <td>{{ val.q4[0].nhc[0].a }}</td>
                  <td>{{ val.q4[0].ohs[0].t }}</td>
                  <td>{{ val.q4[0].ohs[0].a }}</td>
                </tr>
                <tr>
                  <th scope="row">Annual</th>
                  <td>{{ val.q1[0].skip[0].t + val.q2[0].skip[0].t + val.q3[0].skip[0].t + val.q4[0].skip[0].t }}</td>
                  <td>{{ val.q1[0].skip[0].a + val.q2[0].skip[0].a + val.q3[0].skip[0].a + val.q4[0].skip[0].a }}</td>
                  <td>{{ val.q1[0].nmap[0].t + val.q2[0].nmap[0].t + val.q3[0].nmap[0].t + val.q4[0].nmap[0].t }}</td>
                  <td>{{ val.q1[0].nmap[0].a + val.q2[0].nmap[0].a + val.q3[0].nmap[0].a + val.q4[0].nmap[0].a }}</td>
                  <td>{{ val.q1[0].nhc[0].t + val.q2[0].nhc[0].t + val.q3[0].nhc[0].t + val.q4[0].nhc[0].t }}</td>
                  <td>{{ val.q1[0].nhc[0].a + val.q2[0].nhc[0].a + val.q3[0].nhc[0].a + val.q4[0].nhc[0].a }}</td>
                  <td>{{ val.q1[0].ohs[0].t + val.q2[0].ohs[0].t + val.q3[0].ohs[0].t + val.q4[0].ohs[0].t }}</td>
                  <td>{{ val.q1[0].ohs[0].a + val.q2[0].ohs[0].a + val.q3[0].ohs[0].a + val.q4[0].ohs[0].a }}</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- End Statistics Details -->
        </div>
      </div>
    </div>
  </section>
  