<section class="fl-main-section">
  <div class="fl-main">
    <!-- Header -->
    <div class="fl-header">
      <div class="fl-main-logo">
        <img
          src="/assets/Desktop-One-Images/thomsonreuters_logo.png"
          width="262"
          height="auto"
        />
      </div>
      <div class="fl-employee-profile">
        <div><i class="bi bi-caret-down-fill"></i></div>
        <div class="fl-employee">
          <div class="fl-employee-image"></div>
        </div>
      </div>
      <div class="fl-employee-detail">
        <span class="fl-employee-name">{{appUserName}}</span>
        <span class="fl-employee-id">123456</span>
      </div>
      <div class="fl-notification"></div>
    </div>
    <!-- Sidebar Nav -->
    <div class="fl-sidebar-nav">
      <div class="fl-active-nav"></div>
      <div class="fl-nav-profile">
        <div class="fl-nav-profile-img"></div>
      </div>
      <div class="fl-nav-calender">
        <div class="fl-nav-calender-img"></div>
      </div>
      <div class="fl-nav-setting">
        <div class="fl-nav-setting-img"></div>
      </div>
    </div>
    <!-- Mobile Header -->
    <div class="fl-mobile-header-main">
      <div class="fl-mobile-header">
        <div class="fl-mob-logo-main">
          <div class="fl-mob-logo">
            <img
              src="/assets/Desktop-One-Images/thomsonreuters_logo.png"
              width="262"
              height="auto"
            />
          </div>
          <div class="fl-mob-emp-detail">
            <span class="fl-employee-name">{{appUserName}}</span>
            <span class="fl-employee-id">123456</span>
          </div>
        </div>
        <div>
          <div class="fl-mob-nav">
            <div class="fl-mob-settings-bar">
              <img
                src="/assets/Desktop-One-Images/profile.png"
                width="32"
                height="auto"
              />
              <img
                src="/assets/Desktop-One-Images/calendar.png"
                width="32"
                height="auto"
              />
              <img
                src="/assets/Desktop-One-Images/setting_1.png"
                width="32"
                height="auto"
              />
            </div>
            <div class="fl-mob-emplyee-details">
              <div class="fl-mob-notification">
                <img
                  src="/assets/Desktop-One-Images/notification.png"
                  width="18"
                  height="auto"
                />
              </div>
              <div class="fl-mob-employee-profile">
                <img
                  src="/assets/Desktop-One-Images/profile_two.png"
                  width="18"
                  height="auto"
                />
              </div>
              <div class="fl-mob-down-fill">
                <i class="bi bi-caret-down-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="fl-body">
      <div class="fl-main-body">
        <!-- Employee Details -->
        <div class="fl-details">
          <div class="fl-manager-details">
            <div class="fl-manager-details-title">
              <h2>HRBP's Details:</h2>
            </div>
            <table>
              <tr>
                <th>Name</th>
                <!-- <th>Team</th> -->
                <th></th>
              </tr>
              <tr *ngFor="let empData of userDetails">
                <td scope="row">{{ empData.username }}</td>
                <!-- <td>{{ empData.value }}</td> -->
                <td><button (click)="getSpecificDetails(empData.username)">Set Target</button></td>
              </tr>
            </table>
          </div>
          <!-- Engagements Details -->
          <div class="fl-engage-details">
            <div class="fl-engage-details-title">
              <h2>Engagements:</h2>
            </div>
            <div class="fl-engage-details-col">
              <div class="fl-engage-details-col-1">
                <div class="fl-engage-details-col-1-2" *ngIf="goalAccessBtn">
                  <ul>
                    <div class="fl-engage-details-blurb">
                      <div class="fl-engage-details-blurb-img">
                        <span>
                          <img
                            src="/assets/Desktop-One-Images/skip.png"
                            height="63px"
                            width="63px"
                          />
                        </span>
                      </div>
                      <div class="fl-engage-details-blurb-btn">
                        <li>
                          <span>Goals</span>
                        </li>
                        <li>
                          <button (click)="ToggleFunction(collapseToggl, 1)">
                            Add/Edit Goals
                          </button>
                        </li>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="fl-engage-details-col-2">
                <div class="fl-engage-details-col-2-wrap">
                  <div>
                    <h2>Engagement Overview:</h2>
                  </div>
                  <!-- <div class="fl-engage-details-col-2-connect">
                    <div class="fl-engage-details-col-2-connect-wrap">
                      <h3>{{ connectCount }}</h3>
                      <span>Connects</span>
                    </div>
                  </div> -->
                  <circle-progress
                    class="fl-progress-circle"
                    [percent]="85"
                    [radius]="100"
                    [showSubtitle]="true"
                    [title]="strCount"
                    [titleFontSize]="'42'"
                    [subtitleFontSize]="'18'"
                    [titleFontWeight]="'900'"
                    [subtitleFontWeight]="'500'"
                    [titleColor]="'#878787'"
                    [subtitleColor]="'#878787'"
                  ></circle-progress>
                  <div *ngIf="goalAccessBtn">
                    <button (click)="engagementTable(statisticsTable)">
                      View Details
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal"
          [ngClass]="{ 'fade showSum': collapseToggl }"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">
                  Add Goals
                  <span><i class="bi bi-question-circle"></i></span>
                </h2>
                <button
                  type="button"
                  class="btn-close"
                  aria-label="Close"
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="closeSum()"
                >
                  <i class="bi bi-x"></i>
                </button>
              </div>
              <div class="fl-form-sub-heading">
                Set up goals with connections for <strong>{{ this.popusername }}</strong>
              </div>
              <div *ngIf="formShowHide"> 
                <form
                  class="fl-modal-form"
                  [formGroup]="detailForm"
                  (ngSubmit)="setMeeting(detailForm)"
                >
                  <div class="form-group">
                    <div>
                      <div><label>Select Connections Type</label></div>
                      <div class="select">
                        <select
                          #engType
                          name="format"
                          id="format"
                          formControlName="engageType"
                          (change)="selectFn(engType.value)"
                        >
                          <option
                            class="fl-form-option"
                            *ngFor="let engage of engagementType"
                            value="{{ engage.option }}"
                          >
                            {{ engage.label }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div>
                      <label>Q1 Target</label>
                      <input
                        type="number"
                        class="form-control"
                        id="input4"
                        placeholder="Add q1 Goals"
                        formControlName="q1"
                      />
                    </div>
                    <div>
                      <label>Q2 Target</label>
                      <input
                        type="number"
                        class="form-control"
                        id="input4"
                        placeholder="Add q2 Goals"
                        formControlName="q2"
                      />
                    </div>
                    <div>
                      <label>Q3 Target</label>
                      <input
                        type="number"
                        class="form-control"
                        id="input4"
                        placeholder="Add q3 Goals"
                        formControlName="q3"
                      />
                    </div>
                    <div>
                      <label>Q4 Target</label>
                      <input
                        type="number"
                        class="form-control"
                        id="input4"
                        placeholder="Add q4 Goals"
                        formControlName="q4"
                      />
                    </div>
                    <div class="fl-modal-form-btn">
                      <button class="btn btn-primary set-meet">
                        <!-- {{ formText }} -->
                        Set Goals
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="!formShowHide" class="fl-submit-form-msg">
                <span>Target has been updated successfully.</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Statistics Details -->
        <div class="fl-statistics" *ngIf="statisticsTable">
          <div class="fl-stat-1">
            <h2>Engagement Statistics: <strong>{{ popusername }}</strong></h2>
            <!-- <span>Filter</span> -->
          </div>
          <div class="fl-stat-2">
            <table *ngFor="let val of grpMetrix">
              <tr>
                <th scope="col" rowspan="2">Timeframe</th>

                <th scope="col" colspan="2">Skip</th>
                <th scope="col" colspan="2">NMAP</th>
                <th scope="col" colspan="2">New Hire Connects</th>
                <th scope="col" colspan="2">Open House Sessions</th>
              </tr>
              <tr>
                <th scope="col">Target</th>
                <th scope="col">Achieved</th>
                <th scope="col">Target</th>
                <th scope="col">Achieved</th>
                <th scope="col">Target</th>
                <th scope="col">Achieved</th>
                <th scope="col">Target</th>
                <th scope="col">Achieved</th>
            </tr>
              <tr>
                <th scope="row">Quarter-1</th>
                <td>{{ val.q1[0].skip[0].t }}</td>
                <td>{{ val.q1[0].skip[0].a }}</td>
                <td>{{ val.q1[0].nmap[0].t }}</td>
                <td>{{ val.q1[0].nmap[0].a }}</td>
                <td>{{ val.q1[0].nhc[0].t }}</td>
                <td>{{ val.q1[0].nhc[0].a }}</td>
                <td>{{ val.q1[0].ohs[0].t }}</td>
                <td>{{ val.q1[0].ohs[0].a }}</td>
              </tr>
              <tr>
                <th scope="row">Quarter-2</th>
                <td>{{ val.q2[0].skip[0].t }}</td>
                <td>{{ val.q2[0].skip[0].a }}</td>
                <td>{{ val.q2[0].nmap[0].t }}</td>
                <td>{{ val.q2[0].nmap[0].a }}</td>
                <td>{{ val.q2[0].nhc[0].t }}</td>
                <td>{{ val.q2[0].nhc[0].a }}</td>
                <td>{{ val.q2[0].ohs[0].t }}</td>
                <td>{{ val.q2[0].ohs[0].a }}</td>
              </tr>
              <tr>
                <th scope="row">Quarter-3</th>
                <td>{{ val.q3[0].skip[0].t }}</td>
                <td>{{ val.q3[0].skip[0].a }}</td>
                <td>{{ val.q3[0].nmap[0].t }}</td>
                <td>{{ val.q3[0].nmap[0].a }}</td>
                <td>{{ val.q3[0].nhc[0].t }}</td>
                <td>{{ val.q3[0].nhc[0].a }}</td>
                <td>{{ val.q3[0].ohs[0].t }}</td>
                <td>{{ val.q3[0].ohs[0].a }}</td>
              </tr>
              <tr>
                <th scope="row">Quarter-4</th>
                <td>{{ val.q4[0].skip[0].t }}</td>
                <td>{{ val.q4[0].skip[0].a }}</td>
                <td>{{ val.q4[0].nmap[0].t }}</td>
                <td>{{ val.q4[0].nmap[0].a }}</td>
                <td>{{ val.q4[0].nhc[0].t }}</td>
                <td>{{ val.q4[0].nhc[0].a }}</td>
                <td>{{ val.q4[0].ohs[0].t }}</td>
                <td>{{ val.q4[0].ohs[0].a }}</td>
              </tr>
              <tr>
                <th scope="row">Annual</th>
                <td>{{ val.q1[0].skip[0].t + val.q2[0].skip[0].t + val.q3[0].skip[0].t + val.q4[0].skip[0].t }}</td>
                <td>{{ val.q1[0].skip[0].a + val.q2[0].skip[0].a + val.q3[0].skip[0].a + val.q4[0].skip[0].a }}</td>
                <td>{{ val.q1[0].nmap[0].t + val.q2[0].nmap[0].t + val.q3[0].nmap[0].t + val.q4[0].nmap[0].t }}</td>
                <td>{{ val.q1[0].nmap[0].a + val.q2[0].nmap[0].a + val.q3[0].nmap[0].a + val.q4[0].nmap[0].a }}</td>
                <td>{{ val.q1[0].nhc[0].t + val.q2[0].nhc[0].t + val.q3[0].nhc[0].t + val.q4[0].nhc[0].t }}</td>
                <td>{{ val.q1[0].nhc[0].a + val.q2[0].nhc[0].a + val.q3[0].nhc[0].a + val.q4[0].nhc[0].a }}</td>
                <td>{{ val.q1[0].ohs[0].t + val.q2[0].ohs[0].t + val.q3[0].ohs[0].t + val.q4[0].ohs[0].t }}</td>
                <td>{{ val.q1[0].ohs[0].a + val.q2[0].ohs[0].a + val.q3[0].ohs[0].a + val.q4[0].ohs[0].a }}</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- End Statistics Details -->
      </div>
    </div>
  </div>
</section>
